@import url('https://fonts.googleapis.com/css2?family=Righteous&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --background: #1e2326;
    --primary: #f7aa03;
    --secondary: #272d37;
    --btn-bg: #050d26;
    --bg-azul-10: #e9eeff;
    --bg-white: #fff;
    --bg-electric: #f0fbff;
    --nav-bg: #0f1525;
}

/* RESETEO */
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'Righteous'; */
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 70px;
}


header{
    background: var(--secondary);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 30px;
    height: 70px;
    position: fixed;
    width: 100%;
}

.navbar,
.navbar-list{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}

.navbar{
    gap: 100px; 
}

.navbar img{
    width: 30px;
    color: var(--bg-electric);
    cursor: pointer;
}

.navbar-list{
    gap: 30px;
}

.navbar-list a{
    color: var(--bg-white);
    font-size: 16px;
    text-decoration: none;
    font-family: 'Righteous' ;

    &:hover{
        color: var(--primary);
    }
}

.logo{
    height: 55px;
    border-radius: 50px;
    cursor: pointer;
    font-size: 18px;
}

#menu-hamburguesa, .menu-hamb{
    display: none;
}

.cart-icon{
    height: 30px;
    padding: 5px 10px;
    color: var(--bg-white);
    cursor: pointer;
}


/* MAIN */

main{
    background: var(--background);
    padding-top: 170px;
}

#hero {
    display: flex;
    justify-content: space-between; 
    align-items: center; 
    width: 80%; 
    margin: 0 auto; 
    gap: 40px;
    
}

.info-hero {
    flex: 1; 
    text-align: left; 
}

.info-hero h1 {
    font-family: 'Righteous';
    font-size: 80px;
    text-align: start;
    background: linear-gradient(to top, blue, orange);
    color: transparent;
    background-clip: text;
    margin-bottom: 20px;
}


.info-hero p{
    margin: 0 20px 20px 0;
    text-align: justify;
    font-family: Work Sans;
    font-size: 20px;
    color: var(--bg-white);
}

.btn {
    background: var(--secondary);
    color: var(--bg-white);
    padding: 5px 10px;
    border: none;
    border-radius: 50px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    margin-right: 20px;
}


.img-portada img {
    width: 100%; 
    max-width: 600px; 
    height: auto; 
    border-radius: 60px;
} 

/* NOSOTROS */
.nosotros h2{
    font-family: Righteous;
    color: var(--bg-electric);
    font-size: 5rem;
    text-align: center;
    margin: 150px 0 100px 0;
}

.nosotros p {
    font-family: Work Sans;
    font-size: 20px;
    text-align: justify;
    margin: 20px 20px;
    color: var(--bg-white);
    font-weight: 500;
    line-height: 1.6;
    
}

/* MENÚ */
#menu{
    margin-top: 130px;
    padding: 40px 20px;
    text-align: center;
}

#menu h2{
    font-family: 'Righteous';
    font-size: 3rem;
    color: var(--bg-white);
    margin-bottom: 40px;
}


.card-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 150px;
}

.card{
    display: flex;
    flex-direction: column;
    background: var(--background);
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(241, 199, 8, 0.1);
    overflow: hidden;
    width: 300px;
    text-align: center;
    padding: 20px;
    transition: transform 0.5s ease;
}

.card:hover {
    transform:  translateY(-10px);
}

.card img{
    width: 100%;
    height: auto;
    border-radius: 10px 10px 0 0;
    margin-bottom: 15px;
}

.card h3{
    font-family: 'Righteous';
    font-size: 1.5rem;
    color: var(--bg-white);
    margin-bottom: 10px;
}

.card p{
    font-family: 'Work Sans';
    font-size: 1rem;
    font-weight: 600;
    color: var(--bg-white);
    margin-bottom: 15px;
}

.card .price {
    font-family: 'Work Sans';
    font-size: 1.2rem;
    color: var(--primary);
    margin-bottom: 20px;
    font-weight: bold;
}

.add-to-cart{
    margin-top: auto;
    background-color: var(--primary);
    color: var(--bg-white);
    font-weight: bold;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-family: 'Work Sans';
    background-image: linear-gradient(to right, var(--primary) 50%, var(--secondary) 50%);
    background-size: 200% 100%;
    background-position: right bottom;
    transition: background-position 2s ease;
}

.add-to-cart:hover  {
    background-position: left bottom;
    color: var(--btn-bg);
}

/* CONTACTO */

#contact {
    padding: 50px 0;
    margin-top: 175px;
}

.contact-container{
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
}

.contact-container h2{
    font-size: 2.5rem;
    margin-bottom: 60px;
    font-family: 'Righteous';
    color: var(--bg-electric);
}

.contact-info {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    color: var(--bg-electric);
    font-weight: 800;
}

.info {
    flex: 1;
    text-align: left;
}

.info h3{
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.info p {
    font-size: 1rem;
    margin: 5px 0;
}

.map{
    flex: 1;
}

iframe {
    width: 100%;
    height: 100%;
    border: 0;
}

/* FOOTER */

.footer{
    width: 100%;
    color: var(--bg-white);
    text-align: center;
    font-size: 1rem;
}